/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

/* ===== Numéro 1 ===== */
body {
  
    font : 400 1.125rem/160% 'PT Sans', sans-serif;
}


/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

/* ===== Numéro 2 ===== */
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}


/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* ===== Numéro 3f ===== */

header {
    padding: 20px 0;
}


/* ===== Numéro 3a ===== */
header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ===== Numéro 3b ===== */
.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font: 700 2.5rem 'Nunito', sans-serif;
    text-decoration: none;
    color: #444;
}

/* ===== Numéro 3c ===== */

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}


/* ===== Numéro 3d ===== */

.menu a {
    color: #000;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    font: 700 0.875rem 'PT Sans', sans-serif;
    border: 2px solid transparent;
}


/* ===== Numéro 3e ===== */

.menu a:hover {
    border: 2px solid #000;
}




/* ===== Numéro 4a ===== */

.hero {
    background: url('../images/hero.jpg') no-repeat center right/cover;
}


/* ===== Numéro 4b ===== */
.hero .wrapper {
display: flex;
flex-direction: column;
justify-content: center;
min-height: 650px;
}

/* ===== Numéro 4c ===== */
.hero .contenu {
max-width: 50%;
color: #fff;
}

/* ===== Numéro 4d ===== */

.hero h1 {
    font: 100 6.25rem/100%  'Nunito', sans-serif;
    margin:0 0 20px 0;
    color: #F2545B;
}


/* ===== Numéro 5c ===== */

.athletes {
    padding: 100px 0;
}


/* ===== Numéro 5a ===== */

.athletes h2 {
    font: 700 3.125rem 'Nunito', sans-serif;
    margin: 0 0 50px 0;
}


/* ===== Numéro 5b ===== */

.athletes p {
    margin: 0 0 50px 0;
}




/* ===== Numéro 5d ===== */
.athletes-photos {

}

/* ===== Numéro 5e ===== */
.athletes-photos img {

}

/* ===== Numéro 5f ===== */
.athlete1 {

}


/* ===== Numéro 6a ===== */
footer {

}

footer .wrapper {

}

/* ===== Numéro 6b ===== */
/*
.menu-social {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
*/


/* ===== Numéro 6c ===== */

footer .wrapper .menu-social a {

}

/* ===== Numéro 6d ===== */
/*
.menu-social a:hover {
    background: gray;
}
*/